.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.detail_layer {
    position: fixed;
    background: #FFF;
    z-index: 1990;
    padding: 20px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    box-shadow: 1px 2px 10px #ccc, -1px 2px 10px #ccc;
    border-top: 1px #ccc solid;
    overflow: hidden;
    top: 50%;
    margin-top: -220px;
    min-width: 800px;
    display: none;
}

.detail_layer.select_peo {
    padding: 5px;
    height: 450px;
}

.select_peo_con {
    background-color: #FFF;
    height: 360px;
    padding: 0 15px;
    position: relative;
}

.detail_layer .left,
.detail_layer .center,
.detail_layer .right {
    float: left;
    line-height: 30px;
    height: 360px;
}

.detail_layer .left {
    width: 45%;
    overflow: hidden;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}

.detail_layer .left .areas_list,
.detail_layer .left .areas_people {
    overflow-y: auto;
    float: left;
    line-height: 30px;
    position: relative;
    height: 360px;
    width: 100%;
}

.detail_layer .left .areas_list ul.yiji {
    padding: 0 10px;
    background: 5px 0 url('../images/lianxi_bg.jpg') repeat-y;
}

.detail_layer .left .areas_list .areas_list_one > a {
    background: 1px 50% url('../images/add_03.jpg') no-repeat;
    padding-left: 60px;
    cursor: pointer;
    display: inline-block;
}

.detail_layer .left .areas_list .areas_list_one > a > dl >a {
    background: 1px 50% url('../images/add_03.jpg') no-repeat;
    padding-left: 60px;
    cursor: pointer;
}

.detail_layer .left .areas_list .areas_list_one:nth-child(1) > a {
    background: 1px 0 url('../images/listone2.jpg') no-repeat;
    padding-top: 10px;
}

.detail_layer .left .areas_list .areas_list_one:nth-child(1).on > a {
    background: 1px 0 url('../images/listone.jpg') no-repeat;
}

.detail_layer .left .areas_list .areas_list_one.on > a {
    background: 1px 50% url('../images/jian_03.jpg') no-repeat;
}

.detail_layer .left .areas_list .areas_list_one dl {
    display: none;
    padding-left: 31px;
    background: 25px 0 url('../../web/images/lianxi_bg.jpg') repeat-y;
}

.detail_layer .left .areas_list dl dd a {
    background: 1px 50% url('../images/add_03.jpg') no-repeat;
    padding-top: 10px;
    display: inline-block;
    padding-left: 60px;
    cursor: pointer;
}

.detail_layer .left .areas_list dl dd a.on {
    background: 1px 50% url('../images/jian_03.jpg') no-repeat;
}

.detail_layer .areas_list .areas_list_two {
    height: 0;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 28px;
    background: 15px 0 url('../images/lianxi_bg.jpg') repeat-y;
    transition: all 0.3s;
}

.detail_layer .areas_list .areas_list_two li {
    background: 1px 50% url('../images/lx_list_03.jpg') no-repeat;
    padding: 5px 0 5px 55px;
}

.detail_layer .areas_list .areas_list_two li span {
    display: inline-block;
    width: 100%;
    background: 100% 50% url('../images/duigou2.jpg') no-repeat;
    cursor: pointer;
}

.detail_layer .areas_list .areas_list_two li span.hover {
    background: 100% 50% url('../images/duigou.jpg') no-repeat;
}

.detail_layer .left .areas_list {
    width: 100%;
    border-right: 1px solid #32abfb;
}

.detail_layer .center {
    margin: 0 2.5%;
    width: 5%;
    text-align: center;
    padding-top: 14%;
    position: relative;
    box-sizing: border-box;
}

.detail_layer .center a {
    padding: 10% 0;
    float: left;
    width: 100%;
}

.detail_layer .center img {
    width: 90%;
}

.detail_layer .right {
    width: 44%;
    border: 1px solid #c8c8c8;
}

.detail_layer .right ul {
    height: 320px;
    overflow-y: auto;
    padding: 20px;
}

.detail_layer .right ul li {
    padding: 5px 30px;
    background: 0% 50% url('../images/rentou.jpg') no-repeat;
}

.detail_layer .right ul li.on {
    background-color: #32abfb;
    color: #FFF;
}

.detail_layer .title {
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 20px;
}
.serbox{
    padding:10px 0 0 10px;
}
.serbox input[type='text']{
    border:1px solid #d1d1d1;
    height: 30px;
    line-height: 30px;
    padding:0 10px;
}
.serbox input[type='button']{
    background:#666;
    border:1px solid #666;
    color: #fff;
    width: 50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.close_btn {
    cursor: pointer;
    margin-left: 10%;
}

.do_add {
    cursor: pointer;
    margin-left: 10%;
}

.bot_btn {
    padding-top: 7px;
    text-align: center;
}

.bot_btn a.a_con {
    background: #359dce;
    color: #FFF;
    font-size: 14px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-radius: 3px;
    display: inline-block;
}

.fade_layer {
    background: #000;
    opacity: 0.3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
